/* Header */
.headline  {
	text-align: center;
}
.headline01 {
	border-top:1px dashed #ddd;
}
.headline .img img {
	display: block;
	width: 100%;
}
.headline .img p {
	margin-top: 1.5%;
	font-size: 90%;
}

.headline h1 {
    font-size: 1.9rem;
	color: #000;
    font-family: 'arita-dotum4.0otfsemibold';
    letter-spacing: -0.05em;
	line-height: 1.4;
    word-break: keep-all;
}
.headline h2 {
    font-size: 1.6rem;
	color: #000;
    font-family: 'arita-dotum4.0otfsemibold';
    letter-spacing: -0.05em;
	line-height: 1.4;
    word-break: keep-all;
}
.headline h2 span {
    color: #d61e53;
}

.headline h1 + p {
    position: relative;
	margin-top: 10px;
    line-height: 1.5;
	font-size: 1.05rem;
	letter-spacing: -0.01em;
	color: #555;
}
.headline h2 + p {
	margin-top: 5px;
	font-size: 95%;
	line-height: 1.3;
	word-break: keep-all;
}

h2.title {
	font-size: 1.45rem;
    font-family: 'arita-dotum4.0otfmedium';
	line-height: 1.5;
}
h2.title span {
    font-family: 'arita-dotum4.0otfsemibold';
}
	@media (max-width: 1024px) {
		.headline .mb70 {
			margin-bottom: 35px;
		}
		.headline h1 {
			font-size: 1.75rem;
		}
		.headline p,
		.headline h1 + p {
			margin-top: 3px;
		}
	}
	@media (max-width: 768px) {
		.headline .mb70 {
			margin-bottom: 30px;
		}
		.headline h1 {
			font-size: 1.55rem;
			line-height: 1.2;
		}
		.headline h1 + p {
			margin-top: 10px;
			line-height: 1.4;
			font-size: 1rem;
			letter-spacing: -0.05rem;
		}
		.headline h1 + p br {
			display: none;
		}
		.headline .mb70 h1 + p {
			display: none;
		}
		.headline h2 {
			font-size: 1.3rem;
			line-height: 1.3;
		}
		.headline h2 + p {
			margin-top: 3px;
		}
	}
	@media (max-width: 500px) {
		.headline .mb70 {
			margin-bottom: 15px;
		}
		.headline.mt100 {
			margin-top: 40px;
		}
		.headline01.mt70 {
			margin-top: 10px;
			border-top: none;
		}
		.headline h1 span {
			display: none;
		}
		h2.title br {
			display: none;
		}
	}



/* 공통 */
.text_box {
	box-sizing: border-box;
	padding: 3% 2%;
	border: 1px solid #dcdcdc;
}
.text_box h3 {
	position: relative;
	display: inline-block;
	padding: 0 5px;
	color: #000;
	font-weight: 500;
	z-index: 2;
}
.text_box h3:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40%;
	color: #000;
	background: #d1ec33;
	z-index: -1;
}
.text_box ol {
	width: 80%;
	max-width: 1100px; 
	margin: 0 auto;
}
.text_box li {
	margin-left: 30px;
	padding: 8px 0 0;
	text-align: left;
	font-size: 90%;
	line-height: 1.4;
}
.text_box01 {
	padding: 3%;	
}
.text_box.text_box01 > p {
	margin-top: 0; 
	line-height: 1.7;
	word-break: break-all;
}
.text_box.text_box01 > p strong {
	font-size: 100%;
	color: #213547;
}

.text_box.info {
	padding-left: 6%;
	padding-right: 6%;
}
.text_box.info div {
	float: left;
	width: 160px;
	font-size: 6rem;
	color: #aaa;
}
.text_box.info div + * {
	float: right;
	width: calc(100% - 160px);
}
.text_box.info ul,
.text_box.info ul li {
	list-style: disc;
}

	@media (max-width: 1024px) {
		.text_box ol {
			width: 100%;
		}

		.text_box.info {
			padding-left: 4%;
			padding-right: 4%;
		}
		.text_box.info div {
			width: 80px;
			font-size: 5rem;
		}
		.text_box.info div + * {
			width: calc(100% - 90px);
		}
		.text_box.info li {
			margin-left: 18px;
			padding: 3px 0;
		}
	}
	@media (max-width: 768px) {
		.text_box h3:before {
			display: none;
		}
		.text_box.text_box01 > p {
			line-height: 1.6;
		}
	}
	@media (max-width: 500px) {
		.text_box01 {
			padding: 10px 10px 15px;
		}

		.text_box.info div {
			width: 100%;
			margin-bottom: 7px;
			font-size: 4rem;
		}
		.text_box.info div + * {
			width: 100%;
		}
		.text_box.info li {
			padding: 2px 0;
		}
	}



.n2 > * {	
	width: 49%;
	margin-bottom: 25px;
}
.n2 dl dd {
	padding-bottom: 15px;
}
.n2 dl:nth-child(even) {
	float: right
}
	
.n3 {
	width: calc(100% + 30px);
	margin-left: -15px;
	margin-right: -15px;
}
.n3 li,
.n3 dl {
	float: left;
	width: 33.3333%;
}
.n3 li:nth-child(3n),
.n3 dl:nth-child(3n) {
	float: right;
}

.n4 {
	width: calc(100% + 32px);
	margin-left: -16px;
	margin-right: -16px;
}
.n4 > dl,
.n4 > div {
	float: left;
	position: relative;
	width: 299px;
	margin: 0 16px;
	text-align: center;
    vertical-align: top;
}
.n4 p {
	font-size: 90%;
	color: #000;
}
dl:first-child:nth-last-child(4), 
dl:first-child:nth-last-child(4)~dl {	
	width: calc(25% - 32px);
	margin-left: 16px;
	margin-right: 16px;
}
dl:first-child:nth-last-child(4) img, 
dl:first-child:nth-last-child(4)~dl img {	
	width: 100%;
}


.n6 {
	width: calc(100% + 38px);
	margin-left: -19px;
	margin-right: -19px;
}
.n6 > dl,
.n6 > div {
	float: left;
	position: relative;	
	width: calc(16.666% - 38px);
	margin: 0 19px;
	text-align: center;
    vertical-align: top;	
}
.n6 > dl dt img {
	box-sizing: border-box;
	border: 1px solid #404e6f;
}

	@media (max-width: 1440px) {
		.n2.webinar01 {
			width: calc(100% + 30px);
			margin-left: -15px;
			margin-right: -15px;		
		}
		.n2.webinar01 > dl {
			width: calc(50% - 30px);
			margin-left: 15px;
			margin-right: 15px;
		}
		.n2.webinar01 dt div img {	
			width: 94%;
		}


		.webinar01.online.n3,
		.webinar01.n3,
		article .gray01 .webinar01.online .n3 {
			width: calc(100% + 18px);
			margin-left: -9px;
			margin-right: -9px;
		}
		.webinar01.online.n3 ul,
		.webinar01.n3 dl,
		article .gray01 .webinar01.online.n3 dl {
			width: calc(33.333% - 18px);
			margin-left: 9px;
			margin-right: 9px;
		}


		.n4 {
			width: calc(100% + 16px);
			margin-left: -8px;
			margin-right: -8px;
		}
		.n4 > dl,
		.n4 > div,
		dl:first-child:nth-last-child(4), 
		dl:first-child:nth-last-child(4)~dl {
			width: calc(25% - 16px);
			margin-left: 8px;
			margin-right: 8px;
		}
		.n4 > dl img,
		.n4 > div > div > img {
			width: 100%;
		}
	}
	@media only screen and (max-width: 1339px) {
		.n6 {
			width: calc(100% + 10px);
			margin-left: -5px;
			margin-right: -5px;
		}
		.n6 > dl,
		.n6 > div {
			width: calc(16.666% - 10px);
			margin: 0 5px;			
		}
		.n6 > dl dt img {
			display: block;
			width: 100%;
		}
	}
	@media (max-width: 1024px) {
		.n2.webinar01 {
			width: calc(100% + 20px);
			margin-left: -10px;
			margin-right: -10px;		
		}
		.n2 > * {	
			margin-bottom: 0;
		}
		.n2.webinar01 > dl {
			width: calc(50% - 20px);
			margin-left: 10px;
			margin-right: 10px;
		}
		.n2 dl dd {
			padding-bottom: 0;
		}
		.n2.webinar01 dt div img {	
			width: 100%;
		}


		.webinar01.online.n3,
		.webinar01.n3,
		article .gray01 .webinar01.online .n3 {
			width: calc(100% + 12px);
			margin-left: -6px;
			margin-right: -6px;
		}
		.n3 {
			width: calc(100% + 12px);
			margin-left: -6px; margin-right: -6px;
		}
		.webinar01.online.n3 ul,
		.webinar01.n3 dl,
		article .gray01 .webinar01.online.n3 dl {
			width: calc(33.333% - 12px);
			margin-left: 6px; margin-right: 6px;
		}
		.webinar01.online li > img,
		.webinar01 dt div img,
		article .gray01 .webinar01.online dt div img {	
			width: 100%;
			padding: 2px;
		}

		.n4 {
			width: calc(100% + 6px);
			margin-left: -3px;
			margin-right: -3px;
		}
		.n4 > dl,
		.n4 > div,
		dl:first-child:nth-last-child(4), 
		dl:first-child:nth-last-child(4)~dl {
			width: calc(25% - 6px);
			margin-left: 3px;
			margin-right: 3px;
		}
	}
	@media (max-width: 768px) {
		.n2.webinar01 {
			width: calc(100% + 10px);
			margin-left: -5px;
			margin-right: -5px;		
		}
		.n2.webinar01 > dl {
			width: calc(50% - 10px);
			margin-left: 5px;
			margin-right: 5px;
		}

		.n3 {
			width: calc(100% + 8px);
			margin-left: -4px; margin-right: -4px;
		}
		.webinar01.online.n3 ul,
		.webinar01.n3 dl,
		article .gray01 .webinar01.online.n3 dl {
			width: calc(33.333% - 8px);
			margin-left: 4px;
			margin-right: 4px;
		}
	}
	@media (max-width: 540px) {
		.n6 {
			width: calc(100% + 40px);
			margin-left: -20px; margin-right: -20px;
		}
		.n6 > dl,
		.n6 > div {
			width: calc(33.333% - 40px);
			margin: 0 20px 16px;			
		}
	}
	@media (max-width: 500px) {
		.n2, .webinar01.n2,
		.n3, .webinar01.n3,
		article .gray01 .webinar01.online.n3,
		.n4,
		.n2.webinar01 > dl,
		.webinar01.online.n3 ul,
		.webinar01.n3 dl,
		.n4 > dl, .n4 > div, 
		dl:first-child:nth-last-child(4), 
		dl:first-child:nth-last-child(4)~dl {
			width: 100%;
			margin-left: 0; margin-right: 0;
		}
		.webinar01.online ul li,
		.webinar01 dl dd {
			margin-bottom: 15px;
		}
		.webinar01 ul:last-child li:last-child,
		.webinar01 dl:last-child dd:last-child {
			margin-bottom: 0;
		}
		.headline .mb30 + .webinar01 {
			margin-top: 15px;
			padding: 4%;
			background: #f4f4f4;
		}
		.headline01 .mb30 + .webinar01 {
			padding: 0;
			background: none;
		}
		.headline01 .mb30 + .webinar01 > div {
			margin-bottom: 15px;
			padding: 4%;
			border: 1px solid rgba(214,30,83,.4);
			background: none;
		}
		.headline01 .mb30 + .webinar01 > div:last-child {
			margin-bottom: 0;
		}
		.headline01 .mb30 + .webinar01 > div > div > img {
			max-width: 299px;
		}
		article .gray01 .webinar01.online.n3,
		article .gray01 .webinar01.online.n3 dl {
			width: 100%;
			margin-left: 0; margin-right: 0;
		}
		article .gray01 .webinar01.online.n3 {
			margin-top: 25px;
		}
		article .gray01 .webinar01.online.n3 dl {
			margin-bottom: 10px;
			padding: 4%;
			background: #fff;
			box-shadow: 0 0 3px rgba(200,200,200,.6)
		}
		article .gray01 .webinar01.online.n3 dd {
			margin-bottom: 0;
		}


		.n4 > dl, .n4 > div, 
		dl:first-child:nth-last-child(4), dl:first-child:nth-last-child(4)~dl {
			margin-bottom: 6px;
		}
		article .gray01 .webinar01.n4 {
			margin-top: 25px;
			padding: 0;
			background: none;
		}
		article .gray01 .webinar01.n4 dd {
			margin-bottom: 0;
		}


		.n6 {
			width: calc(100% + 10px);
			margin-left: -5px;
			margin-right: -5px;
		}
		.n6 > dl,
		.n6 > div {
			width: calc(33.333% - 10px);
			margin: 0 5px 16px;			
		}
	}







/*1-01 심플로우 */
.symflow01 {
	position: relative;
}
.symflow01.info:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 60%;
	height: 100%;
	background: url("/img/sub/bgSymflow01.gif"); 
}
.symflow01.headline:after {
	display: none;
}
.symflow01 .left {
	float: left;
	position: relative;
	width: calc(50% + 35px);
	z-index: 1;
}
.symflow01 h3 {
	float: right;
	width: 685px;
	margin: 4% 0;
	font-size: 1.65rem;
	font-weight: 700;
	color: #39ac37;
	line-height: 1.7;
	z-index: 2;
}
.symflow01 h3 span {
	display: block;
	font-size: 1rem;
	color: #888;
}
.symflow01 .left > div {
	float: right;
	position: relative;
	bottom: 0;
	box-sizing: border-box;
	width: 100%;
	margin: 8.5% 0 0;
	padding-right: 70px;
	line-height: 1.7;
}
.symflow01 .right {
	float: right;
	position: relative;
	width: calc(50% - 35px);
	background: #fff;
	z-index: 1;
}
	@media (min-width: 1441px) {
		.symflow01 p  {
			word-break: keep-all;
			font-size: 1.05rem;
		}
	}
	@media (max-width: 1440px) {
		.symflow01.info {
			overflow:hidden;
		}
		.symflow01.info:after {
			top: -17px;
			height: 118%;
		}
		.symflow01 h3 {
			width: 100%;
		}
		.symflow01 p {
			letter-spacing: -0.05em;
		}
	}
	@media (max-width: 1440px) and (min-width: 1025px) {
		.symflow01:after {
			background-size: contain;
		}
		.symflow01 .left > div {
			margin-top: 6%;
		}
		.symflow01 .left > div {
			padding-right: 40px;
		}
	}
	@media (max-width: 1440px) and (min-width: 1281px) {
		.symflow01 .right img {
			width: 100%;
		}
	}
	@media (max-width: 1280px) and (min-width: 1025px) {
		.symflow01.info:after {
			top: -35px;
		}
		.symflow01 .left > div {
			padding-right: 35px;
		}
		.symflow01.info .mt30 {
			margin-top: 20px;
		}
		.symflow01 .right  {
			overflow:hidden;
		}
		.symflow01 .right img {
			width: auto;
			height: 360px;
		}
	}
	@media (max-width: 1024px) {
		.symflow01.info:after {
			display: none;
		}
		.symflow01.info .wrap {
			width: 100%;
		}
		.symflow01 .left {
			width: 100%;
		}
		.symflow01 .left h3 {
			margin: 0;
			padding-top: 35px;
			padding-bottom: 3%;
			text-align: center;
			font-size: 1.5rem;
			color: #000;
			font-family: 'arita-dotum4.0otfsemibold';
			letter-spacing: -0.05em;
			line-height: 1.4;
			word-break: keep-all;
			background: #f8f8f8;
		}
		.symflow01 .left h3 span {
			color: #d61e53;
			font-size: 1.05rem;
		}
		.symflow01 .left > div {
			float: left;
			width: 55%;
			margin-top: -1px;
			padding: 0 3% 30px 4%;
			background: #f8f8f8;
		}
		.symflow01.info .mt30 {
			margin-top: 15px;
		}
	}
	@media (max-width: 1024px) and (min-width: 769px) {
		.symflow01.info {
			background: url("/img/sub/imgSymflow01.png") no-repeat 100% 100%;
			background-size: 60%;
		}
		.symflow01 .right {
			display: none;
		}
	}
	@media (max-width: 768px) {
		.symflow01 .left,
		.symflow01 .right {
			width: 100%;
		}
		.symflow01 .left h3 {
			padding: 30px 4% 2%;
			font-size: 1.3rem;
		}
		.symflow01 .left > div {
			width: 100%;
			padding: 0 4% 30px;
		}
		.symflow01 p {
			line-height: 1.6;
			text-align: justify !important;
			word-break: break-all;
		}
		.symflow01 p br {
			display: none;
		}
		.symflow01.info .mt30 {
			text-align: center;
		}
		.symflow01 a,
		.symflow01 a:nth-child(even) {
			margin-right: 0;
			color: #fff;
			border: 1px solid #214768;
			background: #214768;
		}
		.symflow01 .right {
			overflow: hidden;
		}
		.symflow01 .right img {
			position: relative;
			width: 100%;
			margin-top: -8%; 
			margin-bottom: -10%; 			
		}
	}



.skill4 dl {
	position: relative;
	width: 25% !important;
	margin: 0 !important;
}
.skill4 dl:after {
	content: "";
	display: block;
	position: absolute;
	top: 15%;
	right: 0;
	width: 1px;
	height: 66%;
	border-right: 1px dotted #bbb;
}
.skill4 dl:last-child:after {
	display: none;
}
.skill4 dt img {
	width: 56px !important;
}
.skill4 dt:after {
	width: 56px !important;
}
.skill4 dd {
	margin-top: 10px;
	font-size: 1.1rem;
	font-weight: 500;
	line-height: 1.4;
	color: #555;
}
.skill4 dd strong {
	display: block;
	font-weight: 700;
	font-size: 110%;
}
	@media (max-width: 1280px) and (min-width: 1025px) {
		.skill4 dd {
			font-size: .95rem;
		}
	}
	@media (max-width: 1024px) {
		.skill4 dd {
			font-size: 1rem;
		}
	}
	@media (max-width: 500px) {
		.skill4 {
			margin-top: 25px;
		}
		.skill4 dt img {
			max-width: 35px !important;
		}
		.skill4 dd {
			margin-top: 5px;
			font-size: .9rem;
			line-height: 1.3;
		}
	}


.symflow.webinar01.n3 dl {
	overflow: hidden;
	width: calc(33.333% - 30px);
	box-sizing: border-box;
	margin: 0 15px;
	border-radius: 8px;
	background: #fff;
}
.symflow.webinar01.n3 dt {
	margin-bottom: 0;
	padding: 4% 2%;
	font-size: 110%;
	color: #fff;
	background: #214768;
}
.symflow.webinar01.n3 dd {
	min-height: 140px;
	padding: 4.5% 4%;
	font-size: 98%;
	font-weight: 400;
}
.symflow.webinar01.n3 dd ol {
	margin-left: 10%;
}
.symflow.webinar01.n3 dd li {
	width: 100%;
	margin: 4px 0;
	text-align: left;
}
	@media (max-width: 1280px) and (min-width: 1025px) {
		.symflow.webinar01.n3 dd {
			min-height: 175px;
		}
	}
	@media (max-width: 1024px) {
		.symflow.webinar01.n3 dl {
			width: calc(33.333% - 10px);
			margin: 0 5px;
		}
		.symflow.webinar01.n3 dt {
			padding: 2% 1%;
			font-size: 1.1rem;
		}
		.symflow.webinar01.n3 dd {
			min-height: 150px;
			padding: 4% 3.5%;
			font-size: 100%;
		}
		.symflow.webinar01.n3 dd li {
			margin: 2px 0;
		}
	}
	@media (max-width: 768px) {
		.symflow.webinar01.n3 dl {
			width: 100%;
			margin: 0 0 10px;
		}
		.symflow.webinar01.n3 dt {
			padding: 5px;
			font-size: 1rem;
		}
		.symflow.webinar01.n3 dd {
			min-height:auto;
			padding: 10px 15px 10px 0;
		}
		.symflow.webinar01.n3 dd ol {
			margin-left: 35px;
		}
	}



.symflow.bg_half {
	position: relative
}
.symflow.bg_half:after {
	content: "";
	position: absolute;
	left: 0;
	top: 40%;
	width: 100%;
	height: 60%;
	background: #f8f8f8;
}
.symflow.bg_half > div {
	position: relative;
	z-index: 2;
}
.symflow .n6 > dl dd {
	margin-top: 5px;
	font-size: .9rem;
	letter-spacing: -0.05em;
}
	@media (max-width: 768px) {
		.symflow .n6 > dl dd {
			letter-spacing: -0.05em;
			line-height: 1.42;
		}
	}
	@media (max-width: 540px) {
		.n6 {
			width: calc(100% + 20px);
			margin-left: -10px;
			margin-right: -10px;
		}
		.n6 > dl,
		.n6 > div {
			width: calc(33.333% - 20px);
			margin: 0 10px 16px;			
		}
		.symflow.bg_half {
			padding-top: 30px;
			padding-bottom: 10px;
		}
		.symflow.bg_half:after {
			top: 0;
			height: 100%;
		}
	}




.skill ul { 
	box-sizing: border-box;
	padding: 2%;
	text-align: center; 
	border-radius: 200px;
    background: #f6f7f8;
}
.skill li { 
	display: inline-block; 
	width: 220px; 
	height: 220px; 
	margin: 0 2%; 
	font-weight: 500; 
	font-size: 1.2rem; 
	color: #333; 
	line-height: 1.5; 
	border-radius: 50%;
	border: 5px solid #39ac37;
	background: #fff;  
}
.skill li:first-child { 
	margin-left: 0
}
.skill li:last-child { 
	margin-right:0
}
.skill li > div { 
	margin-top:23%;
	line-height: 1.4;
	font-size: 1rem;
}
.skill li strong {
	position: relative;
	display: block;
	width: 100%;
	margin-top: 15px;
	padding-top: 15px;
	color: #d61f53;
	font-weight: 700;
	font-size: 125%;
}
.skill li strong:after{
	content: "";
	position:absolute;
	top: 0;
	left: 20px;
	right: 20px;
	width: calc(100% - 40px);
	height: 1px;
	background: #ccc;
}
	@media (max-width: 1280px) {
		.skill li { 
			width: 180px; 
			height: 180px; 
			margin: 0 .5%;
		}
	}
	@media (max-width: 1024px) {
		.skill li { 
			width: 170px; 
			height: 170px; 
			margin: 0 .5%;
		}
	}
	@media (max-width: 900px) {
		.skill ul {
			margin: 0 -.7%;
			padding: 0;
			border-radius: 0;
			background: none;
		}
		.skill li { 
			width: 49%; 
			height: auto; 
			margin: 0;
			border-radius: 8px;
			border-width: 2px;
		}
		.skill li > div {
			margin-top: 15px;
			margin-bottom: 13px;
		}
		.skill li > div br {
			display: none;
		}		
		.skill li strong {
			margin-top: 5px;
			padding-top: 5px;
			font-size: 105%;
		}
		.skill li strong:after {
			left: 0;
			right: 0;
			width: 100%;
		}
	}
	@media (max-width: 900px) and (min-width: 501px) {
		.skill li:first-child,
		.skill li:nth-child(2) {
			margin-bottom: 5px;
		}
		.skill li:first-child,
		.skill li:last-child {
			margin-left: .3%;
			margin-right: .3%;
		}
	}
	@media (max-width: 500px) {
		.skill li { 
			width: 100%;
			margin-bottom: 5px;
			border-width: 1px;
		}
		.skill li > div {
			margin: 10px 0;
		}
	}




/* 1-02 주요기능 > 웨비나 */
.mobiePro {
	text-align:center;
}
.mobiePro li {
	display: inline-block;
	margin: 2% .5%;
	padding: 20px 3% 12px;
	background: #fff;
}
	@media (max-width: 1280px) {
		.webinar01 dd br { 
			display: none;
		}
	}
	@media (max-width: 1024px) {
		.mobiePro li {
			width: 23%;
			margin: 1% 0 .3%;
			padding: 1.5%;
		}
		.mobiePro li img { 
			display: block;
			width: 50%;
			max-width: 140px;
			margin: 0 auto;
		}
	}
	@media (max-width: 768px) {
		.mobiePro {
			overflow: hidden;
			padding: 1px 0 1px 1px;
		}
		.mobiePro li {
			float: left;
			width: calc(25% - 1px);
			margin: 0 1px 0 0;
			padding: 1% 2%;
		}
		.mobiePro li img { 
			width: 65%;
		}
	}
	@media (max-width: 500px) {
		.mobiePro li img { 
			width: 70%;
		}
	}


.webinar01 dl {
	float: left;
	position: relative;
	text-align: center;
	letter-spacing: -0.05em;
	vertical-align:top;
}
.webinar01 dt {
	position: relative;
	margin-bottom:5px;
	font-size:1.13em;
	font-weight:500;
	z-index: 1;
}
.webinar01 dt div {		
	margin-bottom:20px;		
}
.webinar01.online li > img,
.webinar01 dt div img {		
	display: block;
	width: auto;
	margin: 0 auto;
	padding: 6px;
	background: #4e82e0;
}
.webinar01 dl:first-child:nth-last-child(2):after, 
.webinar01 dl:first-child:nth-last-child(2)~dl:after {	
	content: "";
	display: block;
	position: absolute;
	right: 0;
	bottom: -10px;
	width: 100%;
	height: 50%;
	background: #f0f0f0;
}

.webinar01 dd {
	position: relative;
	font-weight:300;
	font-size: .9em;
	line-height:1.4;
	word-break: keep-all;
	z-index: 1;
}

	@media (max-width: 1440px) {
		.webinar01.online li > img,
		.webinar01 dt div img,
		article .gray01 .webinar01.online dt div img {	
			width: 100%;
		}
	}
	@media (max-width: 1024px) {
		.webinar01 dl:first-child:nth-last-child(2):after, 
		.webinar01 dl:first-child:nth-last-child(2)~dl:after {	
			display: none;
		}
		.webinar01 dt {
			font-size:1.15em;
		}
		.webinar01 dt div {
			margin-bottom: 10px;
		}
		.webinar01.online li > img,
		.webinar01 dt div img,
		article .gray01 .webinar01.online dt div img {	
			padding: 2px;
		}
		.webinar01 dd {
			font-size: .97em;
		}
		.headline .movie {
			position: relative;
			overflow: hidden;
			height: 0;
			padding-bottom: 56.25%;
		}
		.headline01 .movie iframe,
		.headline01 .movie object,
		.headline01 .movie embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		} 
	}
	@media (max-width: 768px) {
		.webinar01 dt {
			font-size:1.05em;
			line-height: 1.25;
		}
		.webinar01 dd,
		article .gray01 .webinar01.online dd {
			font-size: .94em;
			line-height: 1.5;
		}
	}
	@media (max-width: 500px) {
		.webinar01 dt {
			margin-bottom: 0;
			font-size:1em;
		}
		.webinar01 dd {
			font-size: .9em;
		}
	}






/* 1-02 주요기능 > 발표기능 */
.headline iframe {
	width: 100%;
	height: 560px;
	border: 1px solid #333;
	background: #333;
}
.headline .after {
	position: relative;
}
.headline .after:after {
	content: "";
	position: absolute;
	top: calc(50% - 2px);
	left: 0;
	width: 100%;
	height: 4px;
	background: #ccc;
}
.headline .after div {
	position: relative;
	overflow: hidden;
	width: 34px;
	height: 34px;
	margin: 23px auto;
	line-height: 40px;
	border-radius: 34px;
	background: #d61f53;
	z-index: 1;
}
.headline .n4 p {
	margin-top: 10px;
}
.headline .after + p {
	margin-bottom: 20px;
	color: #025199;
	font-weight: 500;
}
	@media only screen and (max-width: 1280px) {
		.headline .after div {
			margin: 10px auto;
		}
		.headline .n4 p {
			height: 42px;
		}
	}
	@media only screen and (max-width: 768px) {
		.headline01 .after + p {
			margin-top: 0;
			margin-bottom: 10px;
		}
		.headline .after:after {
			height: 2px;
			background: #4e82e0;
		}
		.headline .after div {
			width: 30px;
			height: 30px;
			margin: 5px auto;
			line-height: 36px;
			border-radius: 30px;
		}
		.headline .after div img {
			width: 60%;
		}
		.headline .n4 p {
			height: 33px;
		}
	}
	@media only screen and (max-width: 500px) {
		.headline01 .n4 p,
		.headline01 .after + p {
			height: auto;
			font-size: 1rem;
			font-weight: 500;
		}
		.headline .after:after {
			height: 2px;
			background: #4e82e0;
		}
	}




/* 행사현장 */
.gray01 {
	overflow: visible;
	border-top: 1px solid #39ac37;
	background: #f9f9f5;
}
.gray01 > h1 {
	width: auto;
	max-width: 300px;
	margin: -20px auto 0;
	padding:4px 40px 2px;
	font-size:150%;
	text-align:center;
	color:#fff;
	font-family: 'arita-dotum4.0otflight';
	letter-spacing: 0;
	border-radius:50px;
	background:#39ac37;
}
.gray01 .img p {
    font-size: 1.1rem;
	text-align: left
}
.gray01 .webinar01 dt {
	margin-bottom: 0;
}
.gray01 .webinar01 dt img {
	display:block;
}
.gray01 .webinar01 dd {
	padding: 5px;
	color: #fff;
	font-weight: 500;
	background: #213547;
}


.gray01 .visual_list01 {
	border: 5px solid #39ac37;
 }
.gray01 .slick-arrow.slick-prev,
.gray01 .slick-arrow.slick-next {
	width: 40px;
    height: 60px;
}
.gray01 .slick-arrow.slick-prev {
	left: -60px;
}
.gray01 .slick-arrow.slick-next {
	right: -60px;
}

.gray01 .slick-prev:after,
.gray01 .slick-prev:before,
.gray01 .slick-next:after,
.gray01 .slick-next:before {
	content:"";
	position: absolute;
	top: calc(50% - 14px);
	left: 0;
	width: 40px; 
	height: 2px;
	background: #666;
	opacity: 1;
}
.gray01 .slick-prev:after {
	top: calc(50% + 13px);
	transform:rotate(45deg) perspective(500px); 
	transition-delay:0.5s, 1s, 1s;
}
.gray01 .slick-prev:before {	
	transform:rotate(-45deg) perspective(500px); 
	transition-delay:0.5s, 1s, 1s;
}
.gray01 .slick-next:after {
	transform:rotate(45deg) perspective(500px); 
	transition-delay:0.5s, 1s, 1s;
}
.gray01 .slick-next:before {
	top: calc(50% + 13px);
	transform:rotate(-45deg) perspective(500px); 
	transition-delay:0.5s, 1s, 1s;
}
.visual_list01 + p {
	margin-top: 15px;
	font-size: 95%;
}
.visual_list01 .slick-slide img {
	width: 101%;
}
	@media (max-width: 1024px) {
		.gray01 .visual_list01 {
			border-width: 2px;
		}
		.gray01 .slick-arrow.slick-prev,
		.gray01 .slick-arrow.slick-next {
			background-color: rgba(0,0,0,.5);
			z-index: 1;
		}
		.gray01 .slick-arrow.slick-prev {
			left: -2px;
		}
		.gray01 .slick-arrow.slick-next {
			right: -2px;
		}
		.gray01 .slick-prev:after, 
		.gray01 .slick-prev:before, 
		.gray01 .slick-next:after, 
		.gray01 .slick-next:before {
			left: 5px;
			width: 30px;
			background: #fff;
		}
		.gray01 .slick-prev:after {
			top: calc(50% + 10px);
		}
		.gray01 .slick-next:before {
			top: calc(50% + 10px);
		}
		.gray01 .webinar01 dd {
			padding: 2px;
		}
	}
	@media only screen and (max-width: 500px) {
		.gray01 .pt80.mb30 {
			padding-top: 25px;
		}
		.gray01 > h1 {
			font-size: 135%;
		}
		.gray01 > div > h1 {
			font-size: 1.37rem;
		}
		.gray01 .visual_list01 {
			margin-top: 25px;
		}
		.gray01 .slick-arrow.slick-prev, 
		.gray01 .slick-arrow.slick-next {
			width: 30px;
			height: 50px;
		}
		.gray01 .slick-prev:after, 
		.gray01 .slick-prev:before, 
		.gray01 .slick-next:after, 
		.gray01 .slick-next:before {
			top: calc(50% - 7px);
			width: 20px;
		}
		.gray01 .slick-prev:after {
			top: calc(50% + 7px);
		}
		.gray01 .slick-next:before {
			top: calc(50% + 7px);
		}
		.visual_list01 + p {
			margin-top: 10px;
			text-align: left;
			word-break: keep-all;
		}
	}


.gray01 .webinar01.online li dl {
	width: 100%;
}
.gray01 .webinar01.online li dt {
	padding:5px 0;
	color:#fff;
	font-weight:500;
	background:#213547;
}
.gray01 .webinar01.online dt div img {
	width: 412px;
	background: #c0c0c0;
}
.gray01 .webinar01.online dd {
	color: #555;
	font-weight: 400;
	line-height: 160%;
	word-break: keep-all;
	background: none;
}
	@media only screen and (max-width: 500px) {
		article .gray01 .webinar01.online dt div img {
			padding: 1px;
		}
	}




/* 1-03 활용사례 */
.img_table {
	position: relative;	
}
.img_table .img {
	position: absolute;
	left: 0;
	top: 0;
	width: 65%;
	height: 100%;
	background: url("/img/sub/imgUser01_01.jpg") no-repeat 75% 70%;
}
.img_table .text {
	float: right;
	position: relative;	
	width: 60%;
	margin-top: 80px;
	padding: 60px 0 0 60px;
	background: #fff;
}
.img_table .text th {
	width: 145px;
	padding: 20px 15px;
	font-weight: 700;
	color: #39ac37;
	word-break: keep-all;
	border-bottom: 1px solid #39ac37;
}
.img_table .text td {
	padding: 20px 20px;
	text-align: left;
	word-break: keep-all;
	border-bottom: 1px solid #dbdbdb;
}
.img_table .text td img {
	width: 80%;
	margin: 5px 0 -5px -5px;
}
.img_table .text tr:first-child th {
	border-top: 1px solid #39ac37;
}
.img_table .text tr:first-child td {
	border-top: 1px solid #dbdbdb;
}
/* 심플로우 신청 */
.img_table .img01 {
	position: absolute;
	left: 0;
	top: 0;
	width: 65%;
	height: 100%;
	background: url("/img/sub/imgApplication01_01.jpg") no-repeat -133% 100%;
	background-size: 94%;
}


.gray01 .user02 {
	display: none;
}
.gray01 .user02.active {
	display: block;
}
.gray01 .user02 div > div {
	float: left;
}
.gray01 .user02 div > dl {
	float: right;
	width: calc(100% - 420px);
	text-align: left;
}
.gray01 .user02 dt {
	margin: 5px 0 10px;
	color: #000;
	font-size: 125%;
	font-family: 'arita-dotum4.0otfsemibold';
}
.gray01 .user02 dd {
	font-size: 95%;
	line-height: 1.8;
	text-align: justify;
}
	@media (max-width: 1400px) and (min-width: 1025px) {
		.img_table .img01 {
			width: 80%;
			background-position: 70% 60%;
			background-size: cover;
		}
	}
	@media only screen and (max-width: 1024px) {
		.img_table .img {
			background-position: 49% 70%;
			background-size: cover;
		}
		.img_table .text {
			padding: 30px 0 0 30px;
		}
		.img_table .text th {
			width: 107px;
			padding: 20px 5px;
		}
		.img_table .img01 {
			background-position: 43% 60%;
			background-size: cover;
		}

		.gray01 .user02 > div {
			margin-top: 28px;
		}
		.gray01 .user02 div > div {
			width: 230px;
		}
		.gray01 .user02 div > dl {
			width: calc(100% - 255px);
		}
		.gray01 .user02 dt {
			margin: 0 0 5px;
			line-height: 1;
		}
		.gray01 .user02 dd {
			letter-spacing: -0.02rem;
			line-height: 1.6;
		}
	}
	@media only screen and (max-width: 768px) {
		.img_table .img {
			position: relative;
			width: 100%;
			height: 220px;
			background-position: 0 50%;
			background-size: cover;
		}
		.img_table .img01 {
			background-position: 0 73%;
		}
		.img_table .text {
			width: 100%;
			margin-top: 0;
			padding: 0;
		}
		.img_table .text th,
		.img_table .text td {
			padding-top: 14px;
			padding-bottom: 14px;
		}
		.img_table .text td {
			padding-right: 5px;
		}
	}
	@media only screen and (max-width: 500px) {
		.img_table .text th {
			width: 95px;
			padding: 7px 0;
		}
		.img_table .text td {
			padding: 7px 3px 7px 10px;
			line-height: 1.4;
		}
	}



/* 활용사례 현장 */
.gray01 .n2.user01 > * {	
	max-width: 615px;	
	margin-bottom: 0;
	padding-top: 3.5%;
	border: 1px solid #ddd;
	border-top-color: #4e82e0;
	background: #fff;
}
.gray01 .n2.user01 dl:after {
	display: none !important;
}
.gray01 .n2.user01 dt {
	width: 80%;
	margin: 0 auto 2%;	
	text-align: left;
	font-size: 120%;
	font-family: 'arita-dotum4.0otfbold';
}
.gray01 .n2.user01 dd {
	position: relative;	
	width: 80%;
	margin: 0 auto;
	padding: 4px 0 4px 18px;
	font-size: 95%;
	font-weight: 400;
	text-align: left;
	color: #333;
	background: #fff;
}
.gray01 .n2.user01 dd:after {
	content: "";
	position: absolute;	
	display: block;
	top: 50%;
	left: 0;
	width: 7px;
	height: 1px;
	background: #888;
}
.gray01 .n2.user01 dd.img {
	width: 100%;
	padding: 7% 0 0
}
	@media only screen and (max-width: 768px) {
		.gray01 .n2.user01 {
			width: 100%;
			margin-left: 0; margin-right: 0;
		}
		.gray01 .n2.user01 > * {
			max-width: 100%;
			width: 100%;
			margin-left: 0; margin-right: 0;
			padding-top: 5%;
		}
		.gray01 .n2.user01 > *:first-child {
			margin-bottom: 10px;
		}
		.gray01 .n2.user01 dt,
		.gray01 .n2.user01 dd {
			width: 90%;
		}
		.gray01 .n2.user01 dd {
			padding: 2px 0 2px 14px;
		}
		.gray01 .n2.user01 dd.img {
			padding-top: 4.5%;
		}
	}
	@media only screen and (max-width: 560px) {
		.gray01 .user02,
		.gray01 .user02 > div:first-child {
			margin-top: 0;
		}
		.gray01 .user02 > div {
			margin-top: 10px;
			padding: 4%;
			background: #fff;
			box-shadow: 0 0 3px rgba(200,200,200,.6)
		}
		.gray01 .user02 div > div {
			width: 100%;
		}
		.gray01 .user02 div > .img {
			border: 1px solid #ddd;
		}
		.gray01 .user02 div > dl {
			width: 100%;
			margin-top: 6%;
		}
	}



/* 1-04 주요사용처*/
.major {
	margin-left: -25px;
	margin-right: -25px;
}
.major li {
	float: left;
	width: calc(20% - 50px);
	margin: 50px 25px 20px;
}
.major li a {
	display: block;
}
.major li img {
	max-width: 150px;
	width: 80%;
	margin:0 auto;
}
.major li p {
	display: block;
	overflow: hidden;
	margin-top: 15px;
	padding: 0 5px 1px;
	color: #fff;
	font-size: 95%;
	background: #aaa;
	text-overflow: ellipsis;
	white-space: nowrap
}
	@media only screen and (max-width: 1024px) {
		.major {
			margin-left: -10px;
			margin-right: -10px;
		}
		.major li {
			width: calc(25% - 20px);
			margin: 30px 10px 10px;
		}
	}
	@media only screen and (max-width: 768px) {
		.major li {
			width: calc(33.333% - 20px);
			margin: 10px;
			border: 1px solid #aaa;
		}
		.major li img {
			width: 70%;
			margin-top: 15px;
		}
		.major li p {
			margin-top: 8px;
		}
	}
	@media only screen and (max-width: 500px) {
		.major {
			margin-left: -5px;
			margin-right: -5px;
		}
		.major li {
			width: calc(50% - 10px);
			margin: 5px;
		}
		.major li img {
			width: 70%;
			margin-top: 10px;
		}
		.major li p {
			margin-top: 5px;
		}
	}




/* 견적문의 */
.request p.text {
	width: 100%;
    padding: 0 0 1em;
    color: #de0000;
}
table.request {
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #555; 
}
table.request tr:first-child th,
table.request tr:first-child td {
	border-top: 2px solid #213547;
}
table.request th {    
    height: 65px;
    padding: 10px 20px;
    line-height: 1.4;
	font-weight: 700;
	letter-spacing: -1px;
    text-align: left;
	font-size: .95rem;
	border-bottom: 1px solid #ddd;
	background: #f6f6f6;
}
table.request th span {    
    margin-left: 10px;
}
table.request td {    
    padding: 10px 20px;
	text-align: left;
	font-size: .9rem;
	border-bottom: 1px solid #ddd;
}
table.request td.thead {
	padding: 15px 15px 20px;
	text-align: center;
	font-size: 1.1rem;
	color: #fff;
	background: rgba(33,53,71,.8);
}
table.request td .inline-block {
	display: inline-block;
	margin: 0 15px;
}
table.request td .inline-block * {
	vertical-align: middle;
}
table.request td input {
	margin-right: 5px;
}
table.request td textarea {
	width: 98%;
	max-width: 98%;
	min-width: 98%;
	min-height: 100px;
}
table.request table tr:first-child th,
table.request table tr:first-child td {
	padding: 0;
	border: 0
}
.request p.text02 {
    box-sizing: border-box;
    margin: .5rem auto 2rem;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    font-family: 'arita-dotum4.0otfsemibold';
    letter-spacing: -0.07em;
    line-height: 1.3;
    background: #e3f2fd;
}
	@media only screen and (max-width: 1024px) {
		table.request th,
		table.request td {    
			padding: 10px;
		}
		table.request th span {
			margin-left: 3px;
		}
	}
	@media only screen and (max-width: 768px) {
		table.request th {
			min-width: 80px;
		}
		table.request th,
		table.request td {    
			padding: 5px;
		}
		table.request td input[type="password"], 
		table.request td input[type="text"], 
		table.request td input[type="file"], 
		table.request td textarea {    
			display: block;
			width: 100%;
		}
	}
	@media only screen and (max-width: 500px) {
		table.request td.thead {
			padding: 10px 2px 15px;
			font-size: 1rem;
		}
		table.request td .inline-block {
			margin: 0 2px;
		}
		.request p.text02 {
			margin-bottom: 1rem;
		}
	}


/* 요금제 */
.price h2 {
	float: left;
	position: relative;
	width: 250px;
	padding-top: 15px;
	text-align: left;
	font-size: 1.7rem;
}
.price h2:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0; 
	width: 50px;
	height: 3px;
	background: #d61f53;
}
.price h2 span {
	display: block;
	margin-top: 10px;
	font-size: 1rem;
	letter-spacing: -0.03em;
}
.price div {
	float: left;
}
.price > div {
	text-align: left;
	line-height: 1.7
}
.price h3 {
	position: relative;
	box-sizing: border-box;
	padding: 13px 15px 5px;
	text-align: left;
	font-size: 1.05rem;
	font-weight: 700;
	text-align: right;
	border-bottom: 2px solid #213547;
}
.price > div > div:nth-child(3):nth-last-child(2) h3,
.price > div > div:nth-child(4):nth-last-child(1) h3,
.price > div > div:nth-child(2):nth-last-child(1) h3 {
	padding-right: 70px;
}
.price h3 div {
	position: absolute;
	top:0;
	right: 0;
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	padding: 17px 5px 0;
	text-align: center;
	color: #fff;
	font-weight: 700;
	line-height: 1.1;
	font-size: .85rem;
	background: url("/img/sub/bgSale.png") no-repeat;
	background-size: cover;
}
.price h3 div span {
	display: block;
	font-size: 80%;
	font-weight: 700;
}
.price dl {
	float: left;
	width: 100%;
	border-left: 1px solid #ddd;
}
.price > div > div:first-child dl {
	border-left: none;
}
.price > div > div:nth-child(3) dl,
.price > div > div:last-child dl {
	border-left-color: #bbb;
	background: #fcffd7;
}
.price > div > div:nth-child(3) dd,
.price > div > div:last-child dd {
	font-weight: 700;
	color: #000;
	border-bottom-color: #bbb;
}
.price > div > div:last-child dl {
	border-right: 1px solid #bbb;
}
.price dt  {	
	float: left;
	box-sizing: border-box;
	font-weight: 700;
	color: #fff;
	text-align: right;
	background: #2c4e61;
	border-bottom: 1px solid rgba(255,255,255,.3);
}
.price dd {
	float: right;
	box-sizing: border-box;
	width: 100%;
	padding: 10px 15px;
	text-align: right;
	border-bottom: 1px solid #ddd;
}

.price table.request {
	margin-top: 40px;
}
.price table.request th,
.price table.request td {
	text-align: center;
	font-size: 1rem;
}
.price table.request th,
.price table.request td {
	text-align: center;
	font-size: 1rem;
}
.price table.request thead th {
	font-size: 1.1rem;
	color: #333;
	background: none;
}
.price table.request tbody th {
	background: #f6f6f6;
}
.price table.request tbody th,
.price table.request tbody td {
	border-right: 1px solid #ddd;
}
.price table.request tbody td:last-child {
	border-right-width: 0;
}
	@media (min-width: 769px) {
		.price > div {
			width: calc(100% - 250px);
			margin-top: -20px;
		}
		.price > div > div:nth-last-child(4),
		.price > div > div:first-child:nth-last-child(4) ~ div {
			width: 20%;
		}	
		.price > div > div:nth-last-child(3),
		.price > div > div:first-child:nth-last-child(3) ~ div {
			width: 25%;
		}
		.price > div > div:nth-last-child(2),
		.price > div > div:first-child:nth-last-child(2) ~ div {
			width: 33.333%;
		}
		.price > div > div:nth-last-child(4) {
			width: 40%;
		}	
		.price > div > div:nth-last-child(3) {
			width: 50%;
		}
		.price > div > div:nth-last-child(2) {
			width: 66.666%;
		}
		.price > div > div:first-child h4 {
			padding: 10px 15px 10px 150px;	
		}
		.price > div > div:first-child dt {
			width: 50%;
			padding: 10px 20px;
		}
		.price > div > div:first-child dd {
			width: 50%;
		}
		.price > div > div:not(:first-child) dt  {
			position: absolute;
			height: 1px;
			width: 1px;
			text-indent: -9999em;
			overflow: hidden;
			background: #fff;
		}
		.price > div > div:not(:first-child) dd {
			width: 100%;
		}
	}
	@media (max-width:1250px) and (min-width: 769px) {
		.price h2 {
			width: 170px;
			font-size: 1.7rem;
		}
		.price h2 span {
			margin-top: 9px;
			font-size: .95rem;
		}
		.price > div {
			width: calc(100% - 170px);
		}
		.price h3 {
			padding: 7px 0px;
			font-size: 1rem;
			letter-spacing: -0.05rem;
		}
		.price > div > div:nth-child(3):nth-last-child(2) h3,
		.price > div > div:nth-child(4):nth-last-child(1) h3,
		.price > div > div:nth-child(2):nth-last-child(1) h3 {
			padding-right: 54px;
		}
		.price h3 div {
			width: 50px;
			height: 50px;
			padding-top: 13px;
			font-size: .8rem;
		}
		.price > div > div:first-child dt {
			padding: 8px 20px;
		}
		.price dd {
			padding: 8px 15px;
		}
	}
	@media (max-width: 1024px) {
		.price h2 {
			padding-top: 10px;
			font-size: 1.5rem;
		}
		.price h2:after {
			width: 30px;
		}
		.price h2 span {
			margin-top: 3px;
		}
		.price > div {
			width: 100%;
			margin-top: -25px;
		}

		table.request th {
			height: 46px;
		}
	}
	@media (max-width: 768px) {
		.price > div > div:nth-child(even) dt {
			position: absolute;
			height: 1px;
			width: 1px;
			text-indent: -9999em;
			overflow: hidden;
			background: #fff;
		}
		.price > div > div:nth-child(even) {
			width: 33.333%;
		}
		.price > div > div:nth-child(odd) {
			width: 66.666%;
		}
		.price > div > div:nth-child(1),
		.price > div > div:nth-child(2) {
			margin-bottom: 20px;
		}
		.price > div > div:nth-child(even) dl {
			border-right: 1px solid #ddd;
		}
		.price > div > div:nth-child(odd) dt,
		.price > div > div:nth-child(odd) dd {
			width: 50%;
		}
		.price > div > div:nth-child(odd) dt {
			padding: 5px 15px;
		}
		.price h3,
		.price dd {
			padding: 5px 10px;
		}
		.price > div > div:nth-child(3):nth-last-child(2) h3, 
		.price > div > div:nth-child(4):nth-last-child(1) h3, 
		.price > div > div:nth-child(2):nth-last-child(1) h3 {
			padding-right: 38px;
			padding-left: 0;			
		}
		.price h3 {
			letter-spacing: -0.06rem;
			font-size: 1rem;
		}
		.price h3 div {
			width: 34px;
			height: 34px;
			padding-top: 10px;
			font-size: .8rem;
			letter-spacing: -0.02rem;
		}
		.price h3 div span {
			display: none;
		}
	}



/* 심플로우 신청 */
.process {
	text-align: center;
}
.process li {
	position: relative;
	display: inline-block;
	padding-right: 60px;
}
.process li:after {
	content: " >";
	display: block;
	position: absolute;
	right: -2px;
	top: calc(50% - 10px);
	width: 100%;
	color: #15429c;
	text-align: right;
	font-size: 14px;
	font-family:'돋움', Dotum;
	font-weight: bold;
}
.process li:before {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	width: 99%;
	height: 1px;
	border-bottom: 1px dotted #15429c;
}
.process li:last-child {	
	padding-right: 0 !important;
}
.process li:last-child:after,
.process li:last-child:before {	
	display: none;
}
.process li div {
	position: relative;
	box-sizing: border-box;
	width: 180px;
	height: 180px;
	padding-top: 45px;
	border: 2px solid #39ac37;
	border-radius: 50%;
	background: #fff;
	z-index: 1;
}
.process li span {
	display: block;
	margin-top: 3px;
	font-weight: 500;
}


.process.n6 li {
	padding-right: 3%;
}
.process.n6 li div  {
	width: 160px;
	height: 160px;
	padding-top: 35px;
}
	@media (max-width: 1340px) and (min-width: 1025px) {
		.process li {
			padding-right: 30px;
		}
		.process li div {
			width: 140px;
			height: 140px;
			padding-top: 25px;
			border-radius: 50%;
		}

		.process.n6 li {
			padding-right: 2%;
		}
		.process.n6 li div  {
			width: 124px;
			height: 124px;
			padding-top: 20px;
		}
		.process.n6 li div img  {
			width: 40%;
		}
	}
	@media (max-width: 1025px) {
		.process li span {
			margin-top: 0;
			letter-spacing: -0.03rem;
		}
	}
	@media (max-width: 1024px) and (min-width: 769px) {
		.process li {
			padding-right: 14px;
		}
		.process li div {
			width: 122px;
			height: 122px;
			padding-top: 24px;
		}
		.process li div img {
			max-width: 60px;
			width: 40%;
		}

		.process.n6 li {
			padding-right: 2%;
		}
		.process.n6 li div  {
			width: 100px;
			height: 100px;
			padding-top: 16px;
		}
	}
	@media (max-width: 768px) and (min-width:501px) {
		.process {
			max-width: 500px;
			margin-left: auto; margin-right: auto;
		}
	}
	@media (max-width: 768px) {
		.process li {
			margin-left: -4px;
			padding: 5px 12px;
			font-size: .9rem;
			letter-spacing: -0.02rem;
		}
		.process li:before {
			width: calc(100% - 12px);
			left: 12px;
		}
		.process li div {
			width: 110px;
			height: 110px;
			padding-top: 24px;
		}
		.process li div img {
			width: 38%;
		}

		.process.n6 li, .process.n6 li:last-child {
			padding-left: 10px;
			padding-right: 10px;
		}
		.process.n6 li div  {
			width: 100px;
			height: 100px;
			padding-top: 20px;
		}
	}
	@media (max-width: 500px) {
		.process li,
		.process li:last-child {
			font-size: .9rem;			
		}
		.process li div {
			width: 96px;
			height: 96px;
			padding-top: 16px;
		}
		.process li div img {
			width: 45%;
		}
		.process li span {
			line-height: 1.2;
		}
	}




/* 현장지원 순서 */
.process01 > div {
	float: left;
	position: relative;
	width: 32%;
}
.process01 > div:nth-child(2) {
	margin: 0 2%;
}
.process01 > div img {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 10px;	
}
.process01 span {
	position: absolute;
	left: 0;
	top: 0;
	width: 46px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	color: #fff;
	font-size: 1.1rem;
	background: #d61f53;
}
.process01 h5 {
	margin-bottom: 3px;
	font-size: 1.1rem;
	color: #000;
	font-family: 'arita-dotum4.0otfsemibold';
}
.process01 p {
	margin-top: 0;
	font-size: .9rem;
	color: #555;
	line-height: 1.4;
}
	@media (max-width: 768px) {
		.price > div > div.process01 {
			width: 100%;
		}
		.price > div > div.process01:nth-child(2) {
			margin-bottom: 0;
		}
		
		.process01 > div img {
			margin-bottom: 3px;
		}
		.process01 h5 {
			line-height: 1.2;
			letter-spacing: -0.05rem;
		}
	}



/* 부가서비스 */
.service {
	width: 100%;
	overflow: hidden;
}
.service h5 {
	margin-bottom: 10px;
	font-size: 1.25rem;
	color: #1155a3;
	letter-spacing: -0.03em;
	font-family: 'arita-dotum4.0otfsemibold';
}
.service ol,
.service ol li {
	list-style: decimal-leading-zero;
}
.service ol {
	margin-left: 28px;
}
.service li {
	margin: 4px 0;
	font-size: .95rem;
	color: #333;
	line-height: 1.6;
}

	@media (min-width: 1025px) {
		.price.service div {
			margin-top: 0;
		}
	}
	@media (max-width: 1024px) {
		.service h5 {
			margin-top: 40px;
			margin-bottom: 0;
		}
		.service ol {
			margin-left: 25px;
		}
	}
	@media (max-width: 768px) {
		.process01 span {
			width: 27px;
			height: 27px;
			line-height: 27px;
			font-size: .8rem;
		}
	}


/* 메뉴얼 */
#lists > :first-child {
	margin-top: 1px;
	border-top: 1px solid #d7d7d7;
}

.primary-list > a {
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	padding: 1.3rem 2rem;	
	border-bottom: 1px solid #d7d7d7;
	background: url("/img/sub/btnOn.png") no-repeat 98% 50%;
}
.primary-list > a:hover {	
	background-image: url("/img/sub/btnOff.png");
}
div.plus_icon {
	display: none;
	width: 22px; height: 22px;
	background-color: #ADADAD;
	border-radius: 1em;
}
#lists h3 {
	display: inline-block;
	box-sizing: border-box;
	padding-right: 5%;
	line-height: 1.4;
	font-size: 1.1em;
	color: #000;
	font-weight: 400;
}
#lists a:hover h3 {
	color: #2b4a8b;
	font-weight: 500;
}
#lists p {
	display: none;
	padding: 1.2rem 2rem;
	font-size: 1em;	
	text-align: center;
	color: #333;
	background-color: rgba(253,222,79,.3);
}
#lists p img {
	display:block;
	margin:20px auto;
}
#lists .section-gap {
	background-color: #2B3442;
	width: 100%;
	height: 5px;
}
#faq_m {
	display: none;
}