@charset "UTF-8";


body {
	overflow-x: hidden;
}
/* Visual */
.visual {
	position: relative;
	overflow: hidden;
	margin-top: 0;
}

.visual .visual_list .slick-track div {
	width: 100%;
	height: 320px;
	margin: 0 auto;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: 1903px;
}

.visual .text {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	z-index: 1;
}
.visual .text h2 {
	margin-top: 100px;
	color: #fff;
	font-weight: 700;
	font-size: 2.3rem;
	letter-spacing: -0.03em;
	text-shadow: 0 0 5px rgba(0,0,0,.5);
}
.visual .text ul {
	width: 100%;
}
.visual .text li {
	position: relative;
	display: inline-block;
	margin-top: 15px;
	padding: 0 1%;	
}
.visual .text li:after {
	content: "";
	display: block;
	position: absolute;
	top: calc(50% - 2px);
	left: calc(-1% - 2px);
	width: 4px;
	height: 4px;
	border-radius: 4px;
	background: rgba(255,255,255,.5);
}
.visual .text li:nth-child(1):after {
	display: none;
}
.visual .text a {
	position: relative;
	display: block;
	color: rgba(255,255,255,.5);
	font-weight: 500;
	font-size: 1.15rem;
}
.visual .text .active a,
.visual .text a:hover {
	color: #fff;
}
.visual .text .active a:after,
.visual .text a:hover:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
}

@media (max-width: 1440px) {
	.visual .visual_list .slick-track div {
		height: 280px;
		background-size: cover;
	}
	.visual .text h2 {
		margin-top: 85px;
	}
	.visual .text li {
		margin-top: 10px;
	}
}
@media (max-width: 1024px) {
	.visual .visual_list {
		height: 235px;
	}
	.visual .visual_list .slick-track div {
		background-size: 1400px;
	}
	.visual .text h2 {
		margin-top: 70px;
	}
}
@media (max-width: 768px) {
	.visual .visual_list {
		height: 140px;
	}
	.visual .visual_list .slick-track div {
		background-size: 900px;
	}
	.visual .text h2 {
		margin-top: 50px;
	}
	.visual .text ul {
		display: none;
	}
}



/* Location */
.location {
	position: relative;
	width: 100%;
	height: 50px;
	background: #f2f2f2;
	z-index: 2;
}
.location > ul > li {
	float: left;
	position: relative;
	height: 50px;
	zoom: 1;
}
.location > ul > li:after {
	content: "";
	position: absolute;
	right: 0;
	top: 35%;
	bottom: 35%;
	width: 1px;
	background: #d4d4d4;
}
.location > ul > li > a,
.location > ul > li > button {
	display: block;
	font-weight: 500;
	color: #666;
	vertical-align: middle;
	padding: 0;
}
.location > ul > li > a.home {
	width: 14px;
	height: 100%;
	margin-right: 25px;
	background: url("/img/sub/bgHome.png") no-repeat 50% 46%;
}
.location > ul > li > button {
	min-width: 180px;
	padding: 0 20px;
}
.location > ul > li:last-child > button,
.location > ul > li > :hover, 
.location > ul > li > :focus {
	color: #213547;
}

.location > ul > li > button span {
	display: block;
	position: relative;
	height: 100%;
	padding-right: 20px;
	line-height: 48px;	
	font-size: .9rem;
}
.location > ul > li > button span:after {
	content: '';
	position: absolute;
	top: 22px; right: 0;
	width: 9px;
	height: 5px;
	background: url("/img/sub/bgLocation.png") 0px 0px no-repeat;
	transition: transform 0.3s;
}
.location > ul > li.on > button span:after {
	background-position: 0px -15px;
}
.location .sub {
	display: none;
	width: 100%;
}
.location .on .sub {
	display: block;
}
.location .sub ul {
	display: block;
	overflow: hidden;
	border-width: 0 1px 1px;
	border-style: solid;
	border-color: #213547;
	background-color: #fff;
	border-radius:0 0 5px 5px;
}
.location .sub li:first-child {
	border:none
}
.location .sub li a {
	display: block;
	padding: 5px 18px;
	color: #767676;
	font-size: 80%;	
}
.location .sub li:first-child a {
	padding-top: 10px;
}
.location .sub li:last-child a {
	padding-bottom: 10px;
}
.location .sub a:hover, 
.location .sub a:focus, 
.location .sub a.current {
	color: #c81d4c;
	font-weight: 500;
	background: #f4f4f4;
}
	@media (max-width: 1024px) {
		.location > ul > li > button span {
			font-size: .95rem;
		}
		.location .sub li a {
			font-size: 90%;
		}
	}
	@media (max-width: 768px) {
		.location,
		.location > ul > li {
			height: 42px;
		}
		.location > ul > li:nth-child(2),
		.location > ul > li:nth-child(3) {
			min-width: calc(50% - 15px);
		}
		.location > ul > li:nth-child(4) {
			display: none;
		}
		.location > ul > li > a.home {
			margin-right: 15px;
		}
		.location > ul > li > button {
			width: 100%;
			min-width: auto;
			padding: 0 5px;
		}
		.location > ul > li > button span {
			padding-right: 11px;
			line-height: 42px;
		}
		.location > ul > li > button span:after {
			top: 18px;
			right: 5px;
		}
		.location > ul > li:last-child:after {
			display: none;
		}
		.location .sub li a {
			padding: 3px 10px;
		}
	}
	@media (max-width: 325px) {
		.location .wrap {
			width: 100%;
		}
		.location > ul > li:nth-child(2), 
		.location > ul > li:nth-child(3) {
			min-width: calc(50% - 21px);
		}
		.location > ul > li > a.home {
			margin-left: 10px;
			margin-right: 12px;
		}
		.location > ul > li > button {
			padding: 0 2px;
		}
	}



/* Tab Menu */
/*.tabMenu {
	overflow: hidden;
	box-sizing: border-box;
	padding: 0 8px;
	text-align: center;
	border-bottom: 1px solid #213547;
}
.tabMenu li {
	float: left;
}
.tabMenu li {
	float: left;
}
.tabMenu li:nth-last-child(4) ~ li,
.tabMenu li:nth-last-child(4) {
	width: 25%;
}
.tabMenu li a {
	display: block;
	width: calc(100% - 4px);
	margin: 0 2px;
	padding: 8px 35px;
	color: #333;
	font-size: 1rem;
    background: #f2f2f2;
    border-radius: 10px 10px 0 0;    
}
.tabMenu li.active a,
.tabMenu li:hover a {
	color: #fff;
	background: #213547;
}

.tabMenu01 {
	padding: 0;
	border-bottom: none;
}
.tabMenu01 li a {
	width: 100%;
	margin: 0;
    background: none;
    border-radius: 0;
	border: 1px solid #ddd;
	border-right-width: 0px;
}
.tabMenu01 li:last-child a {
	border-right-width: 1px;
}
.tabMenu01 li.active a
.tabMenu01 li:hover a {
	border-color: #000
}*/



.tabMenu,
.tabMenu ul {
    width: 100%;
	zoom: 1;
}
.tabMenu:after,
.tabMenu ul:after,
.tabMenu01 ul:after {
	content:''; 
	display:block; 
	clear:both;
}
.tabMenu li {
	float: left;
	background: #9c9fa4;
}
.tabMenu li:nth-last-child(2) ~ li,
.tabMenu li:nth-last-child(2) {
	width: 50%;
}
.tabMenu li:nth-last-child(3) ~ li,
.tabMenu li:nth-last-child(3) {
	width: 33.3%;
}
.tabMenu li:nth-last-child(4) ~ li,
.tabMenu li:nth-last-child(4) {
	width: 25%;
}
.tabMenu li:nth-last-child(5) ~ li,
.tabMenu li:nth-last-child(5) {
	width: 20%;
}
.tabMenu li a,
.tabMenu01 li a {
	position: relative;
	display: block;
    width: 100%;
	height: 50px;
	font-size: 1.05rem; 
	color: #fff; 
	line-height: 50px; 	
	letter-spacing: -0.5px;
	text-indent: 0; 
	z-index: 0; 
}
.tabMenu li.active a {
	background: #d61f53;
	z-index: 1;
}
.tabMenu li + li a:before {
	content: ''; 
	position: absolute; 
	top: 33%; 
	bottom: 33%; 
	left: -1px; 
	display: block; 
	width: 1px; 
	background: #f4f4f4;
}
.tabMenu li.active a:before {
	left: auto; 
	right: 0;
	background: #d61f53;
}
.tabMenu li.active a:after {
	content: ""; 
	top: 100%; 
	left: 50%; 
	position: absolute;
	height: 0; width: 0; 
	margin-left: -8px;
	pointer-events: none; 
	border: solid transparent; 
	border-color: rgba(0, 50, 121, 0); 
	border-top-color: #d61f53; 
	border-width: 8px;
}


.tabMenu01 {
	display: table;
	margin-left: auto; margin-right: auto;
}
.tabMenu01 ul {
	display: table-row;
}
.tabMenu01 li {
	display: table-cell;
	padding: 0 25px;
	text-align: center;
}
.tabMenu01 li a {	
	color: #333;
}
.tabMenu01 li.active a {
	color: #d61f53;
}
.tabMenu01 li.active a:before {
	content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #d61f53;
}
	@media (max-width: 1024px) {
		.tabMenu li a,
		.tabMenu01 li a {
			height: 36px;
			line-height: 36px;
		}
	}
	@media (max-width: 500px) {
		.tabMenu li a,
		.tabMenu01 li a {
			height: 34px;
			line-height: 34px;
			font-size: 1rem;
		}
	}





/* Content */
.gray {	
	background:#f6f7f8;
}
.green {	
	background: #39ac37;
}
.content {
	min-height: 400px;
	margin-top: 110px;
}
@media (max-width: 1440px) {
	.content {
		margin-top: 60px;
	}
}
@media (max-width: 1024px) {
	.content {
		margin-top: 50px;
	}
	.content .title h2 {
		font-size: 1.4rem;
	}
}
@media (max-width: 768px) {
	.content {
		margin-top: 40px;
	}
	.content .title h2 {
		font-size: 1.25rem;
	}
}
@media (max-width: 500px) {
	.content {
		margin-top: 35px;
	}
}


.mt20 {
	margin-top: 20px;
}
.mt30 {
	margin-top: 30px;
}
.mt50 {
	margin-top: 50px;
}
.mt70 {
	margin-top: 70px;
}
.mt100 {
	margin-top: 100px;
}
.mt120 {
	margin-top: 120px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb45 {
	margin-bottom: 45px;
}
.mb70 {
	margin-bottom: 70px;
}
.mb85 {
	margin-bottom: 85px;
}
.mb90 {
	margin-bottom: 90px;
}
.pt65 {
	padding-top: 65px;
}
.pt80 {
	padding-top: 80px;
}
.pt95 {
	padding-top: 95px;
}
.pt100 {
	padding-top: 100px;
}
.pt140 {
	padding-top: 140px;
}
.pb40 {
	padding-bottom: 40px;
}
.pb50 {
	padding-bottom: 50px;
}
.pb80 {
	padding-bottom: 80px;
}
.pb100 {
	padding-bottom: 100px;
}
.pb140 {
	padding-bottom: 140px;
}

	@media (max-width: 1440px) {
		.mt20 {
			margin-top: 17px;
		}
		.mt30 {
			margin-top: 26px;
		}
		.mt50 {
			margin-top: 43px;
		}
		.mt70 {
			margin-top: 60px;
		}
		.mt100 {
			margin-top: 86px;
		}
		.mt120 {
			margin-top: 103px;
		}
		.mb20 {
			margin-bottom: 17px;
		}
		.mb30 {
			margin-bottom: 26px;
		}
		.mb45 {
			margin-bottom: 39px;
		}
		.mb70 {
			margin-bottom: 60px;
		}
		.mb85 {
			margin-bottom: 73px;
		}
		.mb90 {
			margin-bottom: 77px;
		}
		.pt65 {
			padding-top: 56px;
		}
		.pt80 {
			padding-top: 69px;
		}
		.pt95 {
			padding-top: 82px;
		}
		.pt100 {
			padding-top: 86px;
		}
		.pt140 {
			padding-top: 120px;
		}
		.pb40 {
			padding-bottom: 34px;
		}
		.pb50 {
			padding-bottom: 43px;
		}
		.pb80 {
			padding-bottom: 69px;
		}
		.pb100 {
			padding-bottom:86px;
		}
		.pb140 {
			padding-bottom: 120px;
		}
	}
	@media (max-width: 1024px) {
		.mt20 {
			margin-top: 15px;
		}
		.mt30 {
			margin-top: 22px;
		}
		.mt50 {
			margin-top: 36px;
		}
		.mt70 {
			margin-top: 50px;
		}
		.mt100 {
			margin-top: 72px;
		}
		.mt120 {
			margin-top: 110px;
		}
		.mb20 {
			margin-bottom: 15px;
		}
		.mb30 {
			margin-bottom: 22px;
		}
		.mb45 {
			margin-bottom: 32px;
		}
		.mb70 {
			margin-bottom: 50px;
		}
		.mb85 {
			margin-bottom:61px;
		}
		.mb90 {
			margin-bottom: 65px;
		}
		.pt65 {
			padding-top: 47px;
		}
		.pt80 {
			padding-top: 58px;
		}
		.pt95 {
			padding-top: 69px;
		}
		.pt100 {
			padding-top: 72px;
		}
		.pt140 {
			padding-top: 100px;
		}
		.pb40 {
			padding-bottom: 29px;
		}
		.pb50 {
			padding-bottom: 36px;
		}
		.pb80 {
			padding-bottom: 58px;
		}
		.pb100 {
			padding-bottom: 72px;
		}
		.pb140 {
			padding-bottom: 100px;
		}
	}
	@media (max-width: 768px) {
		.mt20 {
			margin-top: 11px;
		}
		.mt30 {
			margin-top: 17px;
		}
		.mt50 {
			margin-top: 29px;
		}
		.mt70 {
			margin-top: 40px;
		}
		.mt100 {
			margin-top: 57px;
		}
		.mt120 {
			margin-top: 68px;
		}
		.mb20 {
			margin-bottom: 11px;
		}
		.mb30 {
			margin-bottom: 17px;
		}
		.mb45 {
			margin-bottom: 26px;
		}
		.mb70 {
			margin-bottom: 40px;
		}
		.mb85 {
			margin-bottom: 48px;
		}
		.mb90 {
			margin-bottom: 51px;
		}
		.pt65 {
			padding-top: 37px;
		}
		.pt80 {
			padding-top: 46px;
		}
		.pt95 {
			padding-top: 54px;
		}
		.pt100 {
			padding-top: 57px;
		}
		.pt140 {
			padding-top: 80px;
		}
		.pb40 {
			padding-bottom: 23px;
		}
		.pb50 {
			padding-bottom: 29px;
		}
		.pb80 {
			padding-bottom: 46px;
		}
		.pb100 {
			padding-bottom: 57px;
		}
		.pb140 {
			padding-bottom: 80px;
		}
	}
	@media (max-width: 500px) {
		.mt20 {
			margin-top: 10px;
		}
		.mt30 {
			margin-top: 15px;
		}
		.mt50 {
			margin-top: 25px;
		}
		.mt70 {
			margin-top: 35px;
		}
		.mt100 {
			margin-top: 50px;
		}
		.mt120 {
			margin-top: 60px;
		}
		.mb20 {
			margin-bottom: 10px;
		}
		.mb30 {
			margin-bottom: 15px;
		}
		.mb45 {
			margin-bottom: 22.5px;
		}
		.mb70 {
			margin-bottom: 35px;
		}
		.mb85 {
			margin-bottom: 43px;
		}
		.mb90 {
			margin-bottom: 45px;
		}
		.pt65 {
			padding-top: 34px;
		}
		.pt80 {
			padding-top: 40px;
		}
		.pt95 {
			padding-top: 48px;
		}
		.pt100 {
			padding-top: 50px;
		}
		.pt140 {
			padding-top: 70px;
		}
		.pb40 {
			padding-bottom: 20px;
		}
		.pb50 {
			padding-bottom: 25px;
		}
		.pb80 {
			padding-bottom: 40px;
		}
		.pb100 {
			padding-bottom: 50px;
		}
		.pb140 {
			padding-bottom: 70px;
		}
	}





/* Footer */
#footer {
	margin-top: 0;
	padding-top: 40px;
	border-top: 1px solid #ccc;
}
@media (max-width: 1024px) {
	#footer {		
		padding-top: 20px;
		border-top: 0;
	}
}